.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.login-form > div {
  margin: 9px;
}

.login-form > div > label {
  font-weight: bold;

}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid rgba(170, 170, 170, 0.425);
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 8px;
  border-radius: 5px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #187a0b;
  width: 140px;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}
