.tasks {
  display: grid;
  padding-left: 0;
  margin-top: 20px;
  /* width: 75vw; */
  justify-content: center
}

.task-responsive {
  position: inherit;
  width: 50%
}

.tasks > li {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid rgba(78, 78, 78, 0.12);
  align-items: center;
  justify-content: space-between;
  font-size: 15px;

}

.tasks > li > span {
  flex-grow: 1;
  text-align: justify;
  padding: 0 25px;
  margin-right: 15px;
  width: 50vw;
  font-family: 'Roboto', sans-serif;
}

.tasks > li > #button-delete {
  justify-self: center;
  background-color: transparent;
  height: auto;
  width: 30px;
  align-items: center;
  justify-content: center;
  color: #d41d30;
}
